<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <title>Flask Address Book</title>
</head>
<body>
    <div class="search-wrapper">
        <form action="http://127.0.0.1:5000/search" method="POST">
            <label for="search">Search Address Book</label><br>
            <input type="search" id="search" name="search">
            <button type="submit">Search</button>
            <button onclick="location.href='/'">Clear Results</button>
        </form>
        
    </div>
    <div class="rolodex">
        <!-- 
		<div class="card">
            <div class="photo"><img src="photo.jpg" alt=""></div>
            <div class="name">Your Name</div>
            <div class="phone">555-555-5555</div>
            <div class="emal">email@gmail.com</div>
        </div> 
		-->
                
    </div>
</body>
</html>